body{
background:#f4f6f9;
font-family:Arial;
}

.sidebar{
width:230px;
height:100vh;
background:#111827;
color:white;
padding:20px;
}

.sidebar a{
display:block;
color:white;
padding:12px;
text-decoration:none;
border-radius:5px;
}

.sidebar a:hover{
background:#374151;
}

.logo{
margin-bottom:30px;
}

.content{
padding:30px;
width:100%;
}

.card{
border:none;
border-radius:10px;
box-shadow:0 3px 10px rgba(0,0,0,0.1);
}

.card-stat{
padding:20px;
text-align:center;
}